body{
    background-color: #272B30;
}

.nav-edit{
    border: 5px solid #3A497B;
    border-radius: 30px;
    background-color: #3A497B;
    box-shadow: 8px 8px 8px 8px;
    
    margin-top: 5%;
    
}

.liner
{
    width: 100%;
    height: 1px;
    background-color: black;
}

.container-cols{
    transition: 1s;
}


.container-cols:hover{

    transform: scale(1.07);
}


.cols-borders{
    border: 10px solid #272B30;
}
.active{

    color: white !important;
    

}

.pointer{
    cursor: pointer;
}

.main-display
{
    position: sticky;
    top: 0; 
    z-index: 2;
}


.blackCover{

    background-color: rgba(0, 0, 0, 0.6);

}